.thumb-box {
  width: 936px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item {
    width: 80px;
    height: 60px;
    position: relative;
    margin-right: 37px;
    margin-bottom: 37px;
    .btn-del {
      position: absolute;
      right: -7.5px;
      top: -7.5px;
    }
  }
}
